.form-label{
    color:gray;
}

.actionButtons{
    text-align: right;
}


.actionButtons Button {
    margin-left:20px;
}

.actionButtons .btn-login {
    background: rgba(239,68,68,1);
    border-radius: 0.375rem; 
    border-color: rgba(0,0,0,0); 
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    line-height: 1rem;
    font-weight: 600;
    height: 35px;
    &:hover{
        border-color:rgba(239,68,68,1);
        color: rgba(239,68,68,1);
        background-color: rgba(0,0,0,0);

    }  
}