.common__section {
    background: linear-gradient(rgba(102, 104, 120, 0.6), rgba(23, 24, 26, 0.6)),
      url("../../../assets/images/drive.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
  }
  